#contact {
    background-color: #000000;
    padding: 22.5%;
    height: 30em;
    text-align: center;
  }
  
  .h1 {
    font-size: 470%;
    font-weight: 600;
  color: #FCFCFC;
margin-top: -40%;  
  margin-left: -7%;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  }
  .hr3{
    position: absolute;
    margin-left: -15%;
    margin-top: -17.5%;
    width: 10%;
    height: 1px;
    color: #66FCF1;
  }
  /* ContactSection.css */

.contact-section {
  background-color: #2b2a2a3a;
  border-radius: 20px;
  padding: 90px ;
  margin-left: -30%;
  color: #fdfdfd;
  width: 90%;
}

.contact-content {
  max-width:800px;
  margin: 20px;
  color: #fdfdfd;
}

.contact-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fdfdfd;
}

.contact-info {
  color: #fdfdfd;
  list-style: none;
  margin-top: 80px;
  margin-left: -24%;
}

.contact-info li {
  color: #fdfdfd;
  margin-bottom: 10px;
}


.contact-info a {
  color: #fdfdfd;
  text-decoration: none;
  
}

.contact-info a:hover {
  text-decoration: underline;
}
@media (max-width: 768px){
  .contact {
    background-color: #000000;
    padding: 22.5%;
    height: 50em;
    text-align: center;
  }
  .h1 {
    font-size: 270%;
    font-weight: 600;
  color: #FCFCFC;
margin-top: -40%;  
  margin-left: 10%;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  }
}