
   #projects{
    height: 70em;
    margin-top: -3.5%;
    background-color:#000000 ;
    
   }
   .h12{
    font-size: 470%;
    font-weight: 600;
  color: #FCFCFC;
  padding: 1%;
  margin-bottom: -2%;
  margin-left: 18%;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  }
   .card {
    color: #66FCF1;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px #66FCF1;
    margin: 5% 8%;
    display: inline-block; /* Alinear las tarjetas en línea */
  vertical-align: top; /* Alinear las tarjetas en la parte superior */
  }
  .hr1{
    width: 20%;
    height: 1px;
    color: #66FCF1;
  }
  .hr2{
    position: absolute;
    margin-left: -12%;
    margin-top: 4.3%;
    width: 10%;
    height: 1px;
    color: #66FCF1;
  }
 
  .card-container {
    text-align: center; /* Alinear las tarjetas en el centro */
  }
  .card-image {
    width: 70%;
    height: 500px;
    
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #888;
  }
  
  @media (max-width: 768px) {
    #projects{
      margin-top: -10%;
      height: 110em;
      background-color:#000000 ;
     }
    .card {
      color: #66FCF1;
      width: 300px;
      border: 1px solid #ccc;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 3px 4px #66FCF1;
      margin: 10px;
      margin-left: 10%;
    }
    .h12{
      font-size: 270%;
      font-weight: 600;
      color: #FCFCFC;
    padding: 5%;
    margin-bottom: -2%;
    margin-left: 5%;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    }
    .hr1{
      width: 20%;
      height: 1px;
      color: #66FCF1;
    }
    .hr2{
      position: absolute;
      margin-left: -12%;
      margin-top: 4.3%;
      width: 10%;
      height: 1px;
      color: #66FCF1;
    }
    
  }